@import "compass/css3";

* {
  margin: 0;
  padding: 0;
}

:before,
:after {
  content: "";
  display: block;
  position: absolute;
}
body {
  height: 100%;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}
.bottle {
  display: inline-block;
  position: relative;
  width: 100px;
}
.bottle:after {
  height: 14px;
  width: 100px;
  border-radius: 46px/10px;
  box-shadow: 0px 1px 4px -2px rgba(0, 0, 0, 0.2),
    0px 2px 10px -3px rgba(0, 0, 0, 0.1);
  bottom: -7.6px;
  z-index: 0;
}

.bottle:before {
  height: 14px;
  width: 100px;
  border-radius: 46px/10px;
  background-image: linear-gradient(
    45deg,
    rgba(82, 10, 10, 0.8),
    rgba(82, 10, 10, 0.9),
    rgba(43, 4, 4, 0.618),
    rgba(82, 10, 10, 0.8),
    rgba(43, 4, 4, 0.18)
  );
  box-shadow: 0px 2px 10px -2px rgba(0, 204, 255, 0.3),
    0px 2px 15px -2px rgba(0, 204, 255, 0.4);
  bottom: -7.6px;
  z-index: 0;
}
.bottle_cover {
  height: 30px;
  width: 80px;
  position: relative;
  /*   background: rgba(150, 12, 12, 0.918); */
  /*   background: red; */
  background-image: linear-gradient(
    -322deg,
    rgba(82, 10, 10, 0.918),
    rgba(82, 10, 10, 0.8),
    rgba(43, 4, 4, 0.918),
    rgba(82, 10, 10, 0.918),
    rgba(43, 4, 4, 0.918)
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-bottom: none;
  margin: 0px auto;
}
.bottle_cover:after,
.bottle_cover:before {
  height: 10px;
  width: 78px;
  border-radius: 46px/10px;
  border: 2px solid rgba(63, 1, 1, 0.5);
  border-bottom: 2px solid rgba(63, 1, 1, 0.6);
  border-top: 2px solid rgba(63, 1, 1, 0.4);
  /*   border: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.4); */
  left: -1px;
  /*   background: red; */
  background-image: linear-gradient(
    90deg,
    rgba(82, 10, 10, 0.918),
    rgba(82, 10, 10, 0.8),
    rgba(43, 4, 4, 0.618),
    rgba(82, 10, 10, 0.918),
    rgba(43, 4, 4, 0.918)
  );
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6) inset;
}
.bottle_cover:before {
  top: 24px;
  /*   box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4) inset; */
  box-shadow: -1px 1px 1px rgba(63, 1, 1, 1), -1px 2px 3px rgba(63, 1, 1, 0.5);
  background-image: linear-gradient(
    90deg,
    rgba(82, 10, 10, 0.918),
    rgba(82, 10, 10, 0.8),
    rgba(43, 4, 4, 0.618),
    rgba(82, 10, 10, 0.918),
    rgba(43, 4, 4, 0.918)
  );
}
.bottle_cover:after {
  top: -6px;
  box-shadow: -1px 1px 1px rgba(63, 1, 1, 0.1) inset,
    -1px 2px 3px rgba(63, 1, 1, 1);
  background-image: linear-gradient(
    -90deg,
    rgba(82, 10, 10, 0.918),
    rgba(82, 10, 10, 0.8),
    rgba(43, 4, 4, 0.618),
    rgba(82, 10, 10, 0.918),
    rgba(43, 4, 4, 0.918)
  );
  /*   box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6) inset, 0px 3px 3px -1px rgba(255, 255, 255, 0.3); */
}
.bottle_cover .highlight {
  display: block;
  height: 30px;
  width: 20px;
  position: absolute;
  left: 5px;
  top: 5px;
  transform: skew(0deg, 5deg);
  background: linear-gradient(
    left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.6) 4%,
    rgba(255, 255, 255, 0.2) 98%,
    rgba(255, 255, 255, 0)
  );
}

.bottle_cover .highlight:after {
  height: 30px;
  width: 2px;
  left: -3px;
  top: -1px;
  transform: skew(0deg, 5deg);
  background: rgba(255, 255, 255, 0.3);
}
.bottle_neck {
  height: 15px;
  width: 62px;
  position: relative;
  /*   background: green; */
  /*   background: rgba(82, 10, 10, 0.18); */
  background-image: linear-gradient(
    45deg,
    rgba(82, 10, 10, 0.18),
    rgba(82, 10, 10, 0.2),
    rgba(43, 4, 4, 0.618),
    rgba(82, 10, 10, 0.38),
    rgba(43, 4, 4, 0.18)
  );
  border: 2px solid rgba(82, 10, 10, 0.5);
  border-radius: 5px;
  border-top: none;
  border-bottom: none;
  margin: 7px auto 0px auto;
}
.bottle_neck:after,
.bottle_neck:before {
  height: 4px;
  width: 62px;
  border-radius: 30px/8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  left: -1px;
}
.bottle_neck:after {
  top: -4px;
  border: 1px solid rgba(43, 4, 4, 0.2);
  box-shadow: 0px 5px 3px -2px rgba(0, 0, 0, 0.05);
}
.bottle_neck:before {
  top: 15px;
}
.bottle_neck .highlight {
  display: block;
  height: 20px;
  width: 25px;
  position: absolute;
  left: 2px;
  top: 6px;
  transform: skew(0deg, 6deg);
  border-radius: 10px/1px;
  background: linear-gradient(
    left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3) 4%,
    rgba(255, 255, 255, 0.1) 98%,
    rgba(255, 255, 255, 0)
  );
}

.bottle_body {
  height: 150px;
  position: relative;
  width: 98px;
  background-image: linear-gradient(
    45deg,
    rgba(82, 10, 10, 0.18),
    rgba(82, 10, 10, 0.2),
    rgba(43, 4, 4, 0.618),
    rgba(82, 10, 10, 0.38),
    rgba(43, 4, 4, 0.18)
  );
  /*   background: none; */
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  border-bottom: none;
}

.bottle_body:after,
.bottle_body:before {
  height: 12px;
  width: 96px;
  border-radius: 46px/10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  left: -1px;
  background-image: linear-gradient(
    45deg,
    rgba(82, 10, 10, 0.18),
    rgba(82, 10, 10, 0.2),
    rgba(43, 4, 4, 0.618),
    rgba(82, 10, 10, 0.38),
    rgba(43, 4, 4, 0.18)
  );
}

.bottle_body:after {
  top: -7px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6) inset,
    0px 3px 3px -1px rgba(255, 255, 255, 0.4),
    0px 0px 3px rgba(0, 0, 0, 0.05) inset,
    0px 0px 6px rgba(255, 255, 255, 0.7) inset,
    0px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

.bottle_body:before {
  top: 143px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7) inset,
    0px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

.bottle_body .highlight {
  display: block;
  height: 150px;
  width: 25px;
  position: absolute;
  left: 10px;
  top: 6px;
  transform: skew(0deg, 6deg);
  background: linear-gradient(
    left,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5) 4%,
    rgba(255, 255, 255, 0.2) 98%,
    rgba(255, 255, 255, 0)
  );
  z-index: 2;
}

.bottle_body .highlight:after {
  height: 150px;
  width: 4px;
  left: -6px;
  top: 0px;
  transform: skew(0deg, 3deg);
  background: linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0) 80%
  );
}

.inner_body {
  height: 149px;
  width: 92%;
  margin: 0px auto;
  border-radius: 10px 10px 20px 20px/10px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-width: 0.5px;
  position: relative;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5) inset,
    0px 0px 8px rgba(255, 255, 255, 0.6) inset,
    0px 0px 5px rgba(255, 255, 255, 0.5);
  position: relative;
  top: 1px;
}

.inner_body:before {
  border-radius: 40px/4px;
  top: 140px;
  width: 90%;
  left: 3px;
  height: 9px;
}
